.cafe__signature {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    text-align: right;

    /* grey-text */

    color: #787878;

    width: 430px;

}
@media screen and (min-width: 1570px) {
    .cafe__signature {
        width: 500px;
        font-size: 18px;
        line-height: 28px;
    }
}