.category__subtitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
  
  
    /* grey-text */
  
    color: #787878;
  
    width:261px;
    padding:0;
    margin:0;
}  

@media screen and (min-width: 1570px) {
    .category__subtitle {
        width: 400px;
        font-size: 18px;
        line-height: 28px;
    }
}